<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.helloworld.goodpoint">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="face" />
    <meta-data
        android:name="com.google.firebase:firebase-ml-vision.DEPENDENCIES"
        android:value="face" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/application_icon2"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/application_icon2"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity android:name=".ui.ID_cardDetection"
            android:theme="@style/NoActionBar"></activity>

        <receiver
            android:name=".ui.myService.NotificationBroadcast"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="com.helloworld.goodpoint.ui.myService.NotificationBroadcast" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ui.myService.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.check_registration"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgetPasswordScreens.ForgetPasswordWithPhone"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.forgetPasswordScreens.VerifiyCode"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.forgetPasswordScreens.ForgetPassSuccessMessage"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.forgetPasswordScreens.SetNewPassword"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.forgetPasswordScreens.MakeSelection"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity android:name=".ui.DetailsActivity" />
        <activity
            android:name=".ui.forgetPasswordScreens.ForgetPasswordWithEmail"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.candidate.CandidatePage"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.select_multiple_faces.Selection"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.test"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.Alert"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ui.lostFoundObject.FoundObjectActivity"
            android:label="@string/FoundItemDetails"
            android:parentActivityName=".ui.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />
        </activity>
        <activity
            android:name=".ui.lostFoundObject.LostObjectDetailsActivity"
            android:label="@string/LostItemDetails"
            android:parentActivityName=".ui.HomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.ActionActivity" />
        <activity
            android:name=".ui.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />
        </activity>
        <activity
            android:name=".ui.SignupActivity"
            android:label="@string/Signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SigninActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.helloworld.ui.MainActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name=".ui.MainActivity" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ExternalActivity"
            android:icon="@drawable/androidicon"
            android:roundIcon="@drawable/androidicon"
            android:taskAffinity="com.helloworld.ui.ExternalActivity">
            <intent-filter>
                <action android:name=".ui.ExternalActivity" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detection.DetectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
    </application>

</manifest>